<nav class="{{ theme }}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product-add">Ürün ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category-add">Kategori ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Sepet</a>
        </li>
        <!-- <app-cart-detail cartTitle={{cartTitle}}></app-cart-detail> -->
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>
      <!-- <div *ngIf="checkUser(); else notLoginedUser">
          <app-navi-user-info (changeThemeEvent)="changeTheme($event)"></app-navi-user-info>
        </div>
        <div>
          <ng-template #notLoginedUser>
            <app-navi-login></app-navi-login>
          </ng-template>
        </div> -->
    </div>
  </div>
</nav>
